


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

nav {
  left: 0;
  position: fixed;
  width: 200px;
  background: white;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav-top {
  background: #E3E3E4;
  border-bottom: 1px solid #d0d0d2;
  padding: 14px;
}

nav h2 {
  color: #1B4079;
 font-weight: 600;
}
nav h6 {
  color: #464649;
}

nav ul {
  margin-left: -40px;
}

nav ul li:hover {
  background-color: #eeeeef;
  font-weight: bold;
}

.active {
  background-color: #eeeeef;
  font-weight: bold;
}

li a {
  display: flex;
  align-items: center;
  color: #464649;
  text-decoration: none;
  padding: 17px;
  padding-left: 60px;
}

li a:visited {
  text-decoration: none;
  color: #464649;
}

li a:hover {
  text-decoration: none;
  color: #464649;
  font-weight: normal;
}

a.active:hover {
  text-decoration: none;
  color: #464649;
  font-weight: bold;
}

#AboutLink::before {
  content: url("./assets/About.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#AboutLink:hover {
  border-left: 5px solid #3B99D4;
}

#ExperienceLink::before {
  content: url("./assets/computer.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#ExperienceLink:hover {
  border-left: 5px solid #CC3546;
}

#ProjectsLink::before {
  content: url("./assets/code.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#ProjectsLink:hover {
  border-left: 5px solid #52489C;
}

#EducationLink::before {
  content: url("./assets/school.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#EducationLink:hover {
  border-left: 5px solid #087E8B;
}

#ContactLink::before {
  content: url("./assets/contact.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#ContactLink:hover {
  border-left: 5px solid #03256C;
}

#ResumeLink::before {
  content: url("./assets/resume.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#ResumeLink::after {
  content: url("./assets/link.png");
  position: relative;
  top: 3px;
    margin-left: 10px;
}

#ResumeLink:hover {
  border-left: 5px solid #ED6A5A;
}

#BlogLink::before {
  content: url("./assets/blog.png");
  position: relative;
  top: 2px;
  margin-right: 11px;
  margin-left: -35px;
}

#BlogLink::after {
  content: url("./assets/link.png");
  position: relative;
  top: 3px;
    margin-left: 10px;
}

#BlogLink:hover {
  border-left: 5px solid #CC5E6D;
}


main {
  margin-left: 200px;
  background-image: url("./assets/vertical-waves.png");
  overflow-x: hidden;
}


#intro {
  background: url(./assets/Profile.png);
  height: 100vh;
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

section {
  min-height: 100vh;
  padding-bottom: 10px;
}

section h3 {
  font-size: 30px;
  color: white;
  padding: 10px;
  background-color: #1B4079;
  width: 100%;
  margin: 0;
  padding-left:19px;
}
section p {
  padding-left: 20px;
  padding-right: 20px;
}

section div {
  padding-left: 23px;
  padding-right: 23px;
}

.bio {
  font-size: 25px;
  padding: 30px;
  line-height: 1.5;
  margin-top: 0px;
}

.jobBox {
  display: flex;
  border: 1px solid #d0d0d2;
  border-radius: 5px;
  flex-flow: column;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.jobBox ul {
  margin-top: 13px;
}

.eduBox ul {
  margin-top: 13px;
}

.jobHeader {
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 7px;
    border-bottom: 1px solid #d0d0d2;
    margin-top: -23px;
}

.jobHeader2 {
  display: block;
  padding-bottom: 7px;
    border-bottom: 1px solid #d0d0d2;
    margin-top: -23px;
}

.jobHeader h6:first-of-type {
  margin-left: 15px;
}

.jobHeader h6:last-of-type {
  margin-right: -21px;
}

.GoReact:before {
  content: url("./assets/GoSpot.png");
  position: relative;
  top: 8px;
}

.Helio:before {
  content: url("./assets/Helio.png");
  position: relative;
  top: 16px;
}

.BYU:before {
  content: url("./assets/BYU.png");
  position: relative;
  top: 16px;
}

.eduBox {
  display: flex;
  border: 1px solid #d0d0d2;
  border-radius: 5px;
  flex-flow: column;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.eduHeader {
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 7px;
    border-bottom: 1px solid #d0d0d2;
    margin-top: -23px;
}

.eduHeader2 {
  display: block;
  padding-bottom: 7px;
    border-bottom: 1px solid #d0d0d2;
    margin-top: -23px;
}

.eduHeader h6:first-of-type {
  margin-left: 15px;
}

.eduHeader h6:last-of-type {
  margin-right: -21px;
}

.allProjects {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.projectBox {
  display: flex;
  border: 1px solid #d0d0d2;
  border-radius: 8px;
  background-color: white;
  height: 400px;
  flex-direction: column;
  min-width: 300px;
  margin: 13px;
  padding: 0px;
}

.projectBox h6 {
  align-self: center;
  line-height: 0;
  margin: 0;
}

.projectImage {
  align-self: center;
max-width:300px;
width: 100%;
border-radius: 8px;
border-bottom: 1px solid #d0d0d2;
}

.projectDescription {
  max-width: 300px;
    padding: 0px;
    margin-top: -22px;
}

.contacts {
  display: flex;
  align-items: center;
}

.headerMargin {
  margin-bottom: 16px;
}

.PDFview {
  height: 100vh;
}

.projectLink {
  display: block;
    color: black;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 2px;
    cursor: pointer !important;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
}

.hidden {
  display: none;
}

.main2 {
  margin-left: 0px;
}


.blog {
  width: 100%;
  min-height: 100vh;
    background-image: url("./assets/codebackground.png");
    overflow-x: hidden;
    padding-bottom: 30px;
}

.blogPost {
  display: flex;
  border: 1px solid #d0d0d2;
  border-radius: 5px;
  flex-flow: column;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
.blogHeader {
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d2;
  margin-left:20px;
  margin-right:20px;
}

.blogParagraph {
  padding: 20px;
}

.return {
  margin-top: 10px;
  margin-left: 5px;
}

.returnHome {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid #d0d0d2;
  border-radius: 5px;
}

.returnHome:hover {
  background-color: lightgray;
}

.returnHome::before {
  content: url("./assets/return.png");
  position: relative;
  top: 4px;
  margin-left: 3px;
  margin-right: 3px;
}

#loadingIcon {
  position: absolute;
   top: 50%;
   left: 50%;
}

.contacts p {
  display: flex;
  margin-top: 15px;
}

.blogHeader h4 {
  margin-top: 10px;
}